<div class="face-snap-card" [ngClass]="{snapped: buttonText === 'Oops, unSnap!'}">
    <h2>{{ faceSnap.title | titlecase }}</h2>
    <p>Mis en ligne {{ faceSnap.createdDate | date: 'à HH:mm, le d MMMM yyyy' }}</p>
    <img [src]="faceSnap.imageUrl" [alt]="faceSnap.title">
    <p>{{ faceSnap.description }}</p>
    <p *ngIf="faceSnap.location">📍 {{ faceSnap.location }}</p>
    <p>
        <button (click)="onSnap()">{{ buttonText}}</button>
        <span [ngStyle]="{color: 'rgb(0,' + faceSnap.snaps + ',0)'}">👍 {{ faceSnap.snaps }}</span>
        <button routerLink="/facesnaps" style="float: right;">BACK</button>
    </p>
</div>